.container{
  
    margin-left: 5rem;
    margin-right: 5rem;

}
.container-fluid{
   width: 100%;

}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    
}

/** VERSION TELEPHONES (small)=sm */

    .col-sm-1{
        grid-column: span 12;
    }
   
    .col-sm-12{
        grid-column: span 12;
    }
   

/** VERSION Ecran Medium= md  */

@media screen and (min-width:768px){
    
    .col-md-3{
        grid-column: span 3;
    }
    
}


/** VERSION Ecran Large =lg  */

@media screen and (min-width:1280px){
    
    .col-lg-3{
        grid-column: span 3;
    }
   
}
